<mat-toolbar>
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task app</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div cdkDropListGroup >
  <div *ngFor="let category of categories">
    <h1>{{category}}</h1>
    <mat-list role="list" cdkDropList [cdkDropListData]="items[category]" (cdkDropListDropped)="drop($event)">
      <mat-list-item role="listitem" *ngFor="let item of items[category]" cdkDrag>{{item.content}}</mat-list-item>
    </mat-list>
  </div>
</div>