<mat-toolbar>
  <button mat-icon-button aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task app</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div cdkDropListGroup>
  <div>
    <h1>TODO</h1>
    <mat-list role="list" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
      <mat-list-item role="listitem" *ngFor="let item of todo" cdkDrag>{{item}}</mat-list-item>
    </mat-list>
  </div>
  <div>
    <h1>Done</h1>
    <mat-list role="list" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
      <mat-list-item role="listitem" *ngFor="let item of done" cdkDrag>{{item}}</mat-list-item>
    </mat-list>
  </div>
</div>